@charset "UTF-8";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "font";
@import "mixin";

$orange: #ff7300;
$silver: #f7f7f7;


.clearfix::after {
    @include clear-fix-after;
}
.clearfix {
    @include clear-fix;
}

.html, .body, a, span, em, div {
    @include font-init;
}

.html {
    background: #fff;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.container-s {
    overflow: hidden;
    margin: 0 auto;
    width: 1200px;
    padding: 20px 0;
}

.block-g {
    width: 100%;
    background: rgb(242, 242, 242);
}

footer {
    width: 100%;
    background: rgb(18, 18, 18);
}

a {
    text-decoration: none;
    color: #555;
    cursor: pointer;

    &:hover {
        color: $orange;
    }
}

.arrow-down {
    background: url("../img/arrow.png") right 13px no-repeat;
}
