@charset "UTF-8";
header {
    position: relative;
    margin-top: 10px;
    padding-top: 30px;
    height: 74px;

    .logo {
        float: left;
        width: 200px;
        height: 38px;
        background: url("../img/logo.png");
    }

    .search-bar {
        @include border-box;
        float: left;
        position: relative;
        margin: 5px 0 0 90px;
        width: 620px;
        height: 40px;
        border: 2px solid $orange;

        .search-list {
            float: left;
            position: relative;
            height: 36px;

            span {
                width: 8px;
                height: 4px;
                position: absolute;
                top: 17px;
                right: 15px;
                background: url("../img/arrow.png") no-repeat;
            }

            ul {
                overflow: hidden;
                float: left;
                margin-bottom: 5px;
                height: 36px;
                border-right: 1px solid #eee;
                background: #fff;

                li {
                    width: 78px;

                    a {
                        display: block;
                        color: #333;
                        height: 100%;
                        line-height: 36px;
                        margin-left: 15px;
                    }
                }
            }
        }

        .search-box {
            float: left;

            input {
                display: block;
                width: 421px;
                height: 24px;
                line-height: 24px;
                padding: 6px 0 6px 10px;
                border: 0;
            }
        }

        button {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 98px;
            height: 36px;
            line-height: 36px;
            font-size: 16px;
            color: #fff;
            background-color: $orange;
            border: none;
            cursor: pointer;
        }
    }

    .ask-price {
        float: left;
        margin-top: 5px;
        margin-left: 20px;
        border: 1px solid #ddd;

        a {
            display: block;
            width: 98px;
            color: #555;
            height: 28px;
            line-height: 28px;
            font-size: 13px;
            text-align: center;

            &:hover {
                color: $orange;
            }
        }

        background-color: #fff;
        padding: 5px 0;
    }

    .qrcode {
        overflow: hidden;
        display: block;
        position: absolute;
        z-index: 1000;
        right: 0;
        top: 0;
        width: 110px;
        color: #888;

        img {
            position: relative;
            top: 5px;
            left: 15px;
        }
    }
}

#fixed-search-bar {
    height: 48px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    top: -54px;
    z-index: 1100;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    .logo {
        width: 165px;
        height: 38px;
        background: url("../img/logo.png") no-repeat;
        background-size: 158px auto;
        float: left;
        margin-top: 10px;
    }
    .search-container {
        float: left;
        margin-top: 7px;
        margin-left: 102px;
        width: 800px;
        .search-box {
            height: 30px;
            line-height: 30px;
            border: 2px solid #ff500b;
            float: left;
            width: 642px;
            .search-type {
                text-align: center;
                float: left;
                position: relative;
                width: 77px;
                height: 30px;
                z-index: 994;
                ul {
                    border-width: 1px;
                    border-style: solid;
                    border-color: transparent #e8e8e8 transparent transparent;
                    height: 28px;
                    overflow: hidden;
                    background: #fff;
                    li {
                        background-color: #fff;
                        height: 28px;
                        line-height: 28px;
                        text-align: left;
                        padding-left: 15px;
                    }
                }
                .search-arrow {
                    background-image: url(https://cbu01.alicdn.com/cms/upload/2015/099/505/2505990_1073447813.png);
                    width: 8px;
                    height: 4px;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 13px;
                    right: 10px;
                }
            }
            form {
                .keywords {
                    height: 28px;
                    line-height: 28px;
                    padding-left: 11px;
                    border: none;
                    width: 554px;
                }
            }
        }
        .search-action {
            float: left;
            overflow: hidden;
            height: 36px;
            .submit-btn {
                display: block;
                height: 34px;
                width: 98px;
                background-color: #ff500b;
                line-height: 34px;
                border: none;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
}