@charset "UTF-8";
@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin clear-fix-after {
    content: '.';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

@mixin clear-fix {
    overflow: hidden;
    *zoom: 1;
}

@mixin font-init {
    font: 12px/1.5 'Hiragino Sans GB','microsoft yahei',arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}