@import url("//astyle-src.alicdn.com/app/workwidget/style/rights_font.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_14079_gife7dpjsmw2vs4i.eot");
  src: url("//at.alicdn.com/t/font_14079_gife7dpjsmw2vs4i.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_14079_gife7dpjsmw2vs4i.woff") format("woff"), url("//at.alicdn.com/t/font_14079_gife7dpjsmw2vs4i.ttf") format("truetype"), url("//at.alicdn.com/t/font_14079_gife7dpjsmw2vs4i.svg#iconfont") format("svg");
}
@font-face {
  font-family: iconfont;
  src: url(//at.alicdn.com/t/font_436208_n8kmicxg75t81tt9.eot);
  src: url(//at.alicdn.com/t/font_436208_n8kmicxg75t81tt9.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_436208_n8kmicxg75t81tt9.woff) format("woff"), url(//at.alicdn.com/t/font_436208_n8kmicxg75t81tt9.ttf) format("truetype"), url(//at.alicdn.com/t/font_436208_n8kmicxg75t81tt9.svg#iconfont) format("svg");
}
@font-face {
  font-family: iconfont;
  src: url(//at.alicdn.com/t/font_436208_v04wzikp89bmlsor.eot);
  src: url(//at.alicdn.com/t/font_436208_v04wzikp89bmlsor.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_436208_v04wzikp89bmlsor.woff) format("woff"), url(//at.alicdn.com/t/font_436208_v04wzikp89bmlsor.ttf) format("truetype"), url(//at.alicdn.com/t/font_436208_v04wzikp89bmlsor.svg#iconfont) format("svg");
}
@font-face {
  font-family: iconfont;
  src: url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.eot);
  src: url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.woff) format("woff"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.ttf) format("truetype"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.svg#iconfont) format("svg");
}
@font-face {
  font-family: iconfont;
  src: url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.eot);
  src: url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.woff) format("woff"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.ttf) format("truetype"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.svg#iconfont) format("svg");
}
@font-face {
  font-family: iconfont;
  src: url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.eot);
  src: url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.woff) format("woff"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.ttf) format("truetype"), url(//at.alicdn.com/t/font_436208_gq2dbnadzhv6ajor.svg#iconfont) format("svg");
}
.iconfont {
  font-family: iconfont;
  position: absolute;
  top: 9px;
  right: 8px;
  color: #ddd;
  cursor: pointer;
}

.iconfont:hover {
  color: #ff6000;
}

.alibar-iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.sub-nav-icon {
  color: grey;
  padding-left: 12px;
  font-family: 'iconfont' !important;
  font-size: 14px;
  font-style: normal;
  -webkit-text-stroke-width: .2px;
  width: 14px;
  height: 16px;
}

@font-face {
  font-family: 'rightIconfont';
  src: url("//at.alicdn.com/t/font_1457511093_029351.eot");
  src: url("//at.alicdn.com/t/font_1457511093_029351.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1457511093_029351.woff") format("woff"), url("//at.alicdn.com/t/font_1457511093_029351.ttf") format("truetype"), url("//at.alicdn.com/t/font_1457511093_029351.svg#iconfont") format("svg");
}
.rightIconfont {
  font-family: 'rights-iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: picsearch;
  src: url(//at.alicdn.com/t/font_fyjfebnsnmlk57b9.eot);
  src: url(//at.alicdn.com/t/font_fyjfebnsnmlk57b9.eot?#iefix) format("embedded-opentype"), url(//at.alicdn.com/t/font_fyjfebnsnmlk57b9.woff) format("woff"), url(//at.alicdn.com/t/font_fyjfebnsnmlk57b9.ttf) format("truetype"), url(//at.alicdn.com/t/font_fyjfebnsnmlk57b9.svg#iconfont) format("svg");
}
.picbtn {
  font-family: picsearch;
  position: absolute;
  top: 0;
  right: 100px;
  color: #646464;
  font-size: 18px;
  width: 40px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  height: 40px;
  overflow: hidden;
}

.picbtn:hover {
  color: #ff6000;
}

.picbtn .pic-icon {
  cursor: pointer;
  position: relative;
  top: -2px;
}

.picbtn .pic-txt {
  display: block;
  margin-top: 5px;
  width: 34px;
  line-height: 14px;
  font-size: 12px;
  cursor: pointer;
  opacity: 0;
}

.clearfix::after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  overflow: hidden;
  *zoom: 1;
}

.html, .body, a {
  font: 12px/1.5 'Hiragino Sans GB', 'microsoft yahei', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.block-g {
  width: 100%;
  background: #f2f2f2;
}

footer {
  width: 100%;
  background: #121212;
}

a {
  text-decoration: none;
  color: #555;
}
a:hover {
  color: #ff7300;
}

.arrow-down {
  background: url("../img/arrow.png") right 6px no-repeat;
}

.top-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  color: #555;
}
.top-bar .top-bar-l .mobile, .top-bar .top-bar-l .top-info {
  float: left;
}
.top-bar .top-bar-l .mobile li, .top-bar .top-bar-l .top-info li {
  float: left;
  padding-right: 10px;
}
.top-bar .top-bar-l .mobile .bonus, .top-bar .top-bar-l .top-info .bonus {
  padding-left: 15px;
  background: url("../img/hongbao.png") left center no-repeat;
}
.top-bar .top-bar-l .mobile {
  padding-left: 16px;
  background: url("../img/alibar.png") 0 -112px no-repeat;
}
.top-bar .top-bar-r li {
  position: relative;
  float: right;
  background: url("../img/alibar.png") right -145px no-repeat;
}
.top-bar .top-bar-r li:first-of-type {
  background: transparent;
}
.top-bar .top-bar-r li div {
  padding: 0 12px;
}
.top-bar .top-bar-r li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 12px;
}
.top-bar .top-bar-r li i {
  display: block;
  float: left;
  font-size: 14px;
  margin: -2px 2px 0 0;
}
.top-bar .top-bar-r li #product-num {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin: -4px 2px 0;
  background: url("../img/alibar.png") 0 0 no-repeat;
}
.top-bar .top-bar-r li #product-num em {
  color: #fff;
  margin-left: 5px;
}

header {
  position: relative;
  margin-top: 10px;
  padding-top: 30px;
  height: 74px;
}
header .logo {
  float: left;
  width: 200px;
  height: 38px;
  background: url("../img/logo.png");
}
header .search-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  position: relative;
  margin: 5px 0 0 90px;
  width: 620px;
  height: 40px;
  border: 2px solid #ff6000;
}
header .search-bar .search-list {
  float: left;
  position: relative;
  height: 36px;
}
header .search-bar .search-list span {
  width: 8px;
  height: 4px;
  position: absolute;
  top: 17px;
  right: 15px;
  background: url("../img/arrow.png") no-repeat;
}
header .search-bar .search-list ul {
  overflow: hidden;
  float: left;
  margin-bottom: 5px;
  height: 36px;
  border-right: 1px solid #eee;
  background: #fff;
}
header .search-bar .search-list ul li {
  width: 78px;
}
header .search-bar .search-list ul li a {
  display: block;
  color: #333;
  height: 100%;
  line-height: 36px;
  margin-left: 15px;
}
header .search-bar .search-box {
  float: left;
}
header .search-bar .search-box input {
  display: block;
  width: 421px;
  height: 24px;
  line-height: 24px;
  padding: 6px 0 6px 10px;
  border: 0;
}
header .search-bar button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 98px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  background-color: #ff6000;
  border: none;
  cursor: pointer;
}
header .ask-price {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 5px 0;
}
header .ask-price a {
  display: block;
  width: 98px;
  color: #555;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  text-align: center;
}
header .ask-price a:hover {
  color: #ff7300;
}
header .qrcode {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 1000;
  right: 0;
  top: 0;
  width: 110px;
  color: #888;
}
header .qrcode img {
  position: relative;
  top: 5px;
  left: 15px;
}

nav.top-nav {
  padding-bottom: 8px;
}
nav.top-nav li {
  float: left;
  margin: 0 6px;
}
nav.top-nav li:first-of-type {
  margin-left: 0;
}
nav.top-nav li:first-of-type a, nav.top-nav li:first-of-type a:hover {
  color: #fff !important;
  background: #ff6000 !important;
}
nav.top-nav li:last-of-type {
  margin-right: 0;
}
nav.top-nav li.line {
  height: 28px;
  width: 1px !important;
}
nav.top-nav li.line span {
  display: block;
  margin-top: 6px;
  padding: 0;
  width: 1px;
  height: 14px;
  border-color: #d7d7d7 !important;
  border-left: 1px solid #ea6a00;
}
nav.top-nav li a {
  display: block;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 700;
  color: #ff6000;
}
nav.top-nav li a:hover {
  background: #F2F2F2;
}
nav.top-nav li.subtag a {
  color: #5f5f5f !important;
}
nav.top-nav li.subtag a:hover {
  color: #ff6000 !important;
}

.main aside.left {
  float: left;
  width: 200px;
  height: 550px;
  margin-top: 20px;
}
.main aside.left #subnav {
  width: 200px;
  font-size: 0;
  padding: 12px 0;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
}
.main aside.left #subnav li::after {
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.main aside.left #subnav li {
  overflow: hidden;
  *zoom: 1;
}
.main aside.left #subnav li span {
  width: 6px;
}
.main aside.left #subnav a {
  float: left;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  color: #333;
}
.main aside.left #subnav span {
  display: block;
  float: left;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  white-space: nowrap;
  color: #333;
}
.main aside.left #subnav i {
  float: left;
  margin: 0 14px 0 4px;
  line-height: 28px;
  text-align: center;
}
.main aside.right {
  float: left;
  width: 260px;
  height: 530px;
  margin-top: 20px;
}
.main article.center {
  float: left;
  width: 740px;
  height: 550px;
}
.main article.center .center-top {
  width: 700px;
  height: 300px;
  margin: 20px auto 0;
}
.main article.center .center-bottom {
  width: 700px;
  height: 210px;
  margin: 20px 20px 0;
}
